.header {
  padding: 31px 0;
  border-bottom: 1px solid #1f1f1f;
}

:global(.light) .header {
  border-color: #e1e1e1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 155px;
  height: 29px;
  text-indent: -9999px;
  background-image: url("/logo-white.svg");
  background-size: contain;
}

:global(.light) .logo {
  background-image: url("/logo-black.svg");
}

.setting {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background-image: url("/setting-white.svg");
  background-size: contain;
}

:global(.light) .setting {
  background-image: url("/setting-black.svg");
}
