.title {
  margin: 30px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}

.title + .section {
  border-top: 1px solid #1f1f1f;
}

:global(.light) .title + .section {
  border-top: 1px solid #e1e1e1;
}

.sectionTitle {
  margin: 35px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

:global(.light) .sectionTitle {
  color: #252525;
}

.input {
  width: 205px;
}
